:root {
  color-scheme: light dark;

  --accent: light-dark(orangered, chartreuse);

  color: CanvasText;
  background: color-mix(in oklab, Canvas, CanvasText 3%);

  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(min(90%, 640px), 1fr) 1fr;
}

hr {
  border: 0;
  border-top: 1px solid #ded8cc;
  margin: 32px 0;
}
