:root {
  color-scheme: light dark;

  --accent: light-dark(orangered, chartreuse);

  color: CanvasText;
  background: Canvas;

  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

body {
  margin: 0;
}

main {
  width: min(760px, calc(100% - 32px));
  margin: 0 auto;
  padding: 64px 0 88px;
}

hr {
  border: 0;
  border-top: 1px solid #ded8cc;
  margin: 32px 0;
}
